<nz-spin [nzSpinning]="userLoading">
    <div *ngIf="user" class="main">
        <div class="left">
            <form #f="ngForm" (submit)="save()" nz-form nzLayout="vertical" se-container="1">
                <se error="请输入您的邮箱!" label="邮箱">
                    <input [(ngModel)]="user.email" name="email" nz-input required type="email"/>
                </se>
                <se error="请输入您的昵称!" label="昵称">
                    <input [(ngModel)]="user.name" name="name" nz-input required/>
                </se>
                <se label="个人简介">
          <textarea
                  [(ngModel)]="user.profile"
                  [nzAutosize]="{ minRows: 4, maxRows: 10 }"
                  name="profile"
                  nz-input
                  placeholder="个人简介"
          ></textarea>
                </se>
                <se label="国家/地区">
                    <nz-select [(ngModel)]="user.country" name="country" required>
                        <nz-option nzLabel="中国" nzValue="China"></nz-option>
                    </nz-select>
                </se>
                <se label="所在省市">
                    <div class="d-flex justify-content-between">
                        <nz-select
                                (ngModelChange)="choProvince($event)"
                                [(ngModel)]="user.geographic.province.key"
                                class="width-50 mr-sm"
                                name="geographic.province.key"
                                required
                        >
                            <nz-option *ngFor="let p of provinces" [nzLabel]="p.name" [nzValue]="p.id"></nz-option>
                        </nz-select>
                        <nz-select [(ngModel)]="user.geographic.city.key" class="width-50" name="geographic.city.key"
                                   required>
                            <nz-option *ngFor="let p of cities" [nzLabel]="p.name" [nzValue]="p.id"></nz-option>
                        </nz-select>
                    </div>
                </se>
                <se error="请输入您的街道地址!" label="街道地址">
                    <input [(ngModel)]="user.address" name="address" nz-input required/>
                </se>
                <se error="请输入您的联系电话!" label="联系电话">
                    <input [(ngModel)]="user.phone" name="phone" nz-input required/>
                </se>
                <se>
                    <button [disabled]="f.invalid" nz-button nzType="primary">更新基本信息</button>
                </se>
            </form>
        </div>
        <div class="right">
            <div class="avatar_title">Avatar</div>
            <div class="avatar"><img alt="Avatar" src="{{ user.avatar }}"/></div>
            <nz-upload [nzShowUploadList]="false" nzAction="/user/avatar">
                <button class="button_view" nz-button>
                    <i nz-icon nzType="upload"></i>
                    <span>更换头像</span>
                </button>
            </nz-upload>
        </div>
    </div>
</nz-spin>
